.panel.panel-info
  .panel-heading
    %h4 Server Info
  .panel-body
    %ul
      %li
        %strong
          SERVER STATUS:
          - if @server_running
            %span.label.label-success Up
          - else
            %span.label.label-danger Down
      %li
        %strong Server Address:
        minecraft.hissboom.net
      %li
        %strong Version:
        1.7 snapshot branch, currently 13w37b
      %li
        %a{href: "http://www.minecraftwiki.net/wiki/Tutorials/How_to_install_a_snapshot"} How to use snapshots

%h3 Leaderboards - Top Deaths
%p
  These are according to the server log file and may differ from the scoreboard
  count recorded by the game itself. Use this as an estimate and not the gospel
  truth.
%table.table.table-hover.table-striped.table-bordered.table-responsive.sortable
  %thead
    %tr
      %th.player Player
      %th.deaths{"data-defaultsort" => "desc"} Deaths
  %tbody
    - @top_deaths.each do |top_death|
      %tr
        %td= top_death[0]
        %td= top_death[1]
